*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    background-color: rgb(42, 40, 44);
}

.header{
    background-color: rgb(42, 40, 44);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 2%;
}

.logo_container h1 a{
    height: 100%;
    color: rgb(174, 154, 195);
    font-size: 30px;
    font-weight: 50;
    font-family: 'Bodoni Moda', serif;

}

.nav ul{
    display: flex;
    color: rgb(174, 154, 195);
}

.nav ul li{
    list-style: none;
}

.nav ul li a{
    font-size: 25px;
    font-family: 'Nanum Myeongjo', serif;
    color: rgb(174, 154, 195);
    padding: 0 20px;
    text-decoration: none;
    transition: all .2s ease;
}

.nav ul li a:hover{
    color: rgb(94, 66, 119);
}


.social ul li{
   list-style: none;
   margin: 10px 10px;
   display: inline-block;
   transition: all .2s ease;
}

.social ul li a:hover{
    color: rgb(94, 66, 119);
}

.intro {
    width: 100%;
    display: flex;
    justify-content: center;
}

.intro h1{
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 20px;
    font-family: 'Alice', serif;
    color: rgb(174, 163, 188);
}


.intro h2{
    font-size: 20px;
    font-weight: 50;
    font-family: 'Alice', serif;
    color: rgb(174, 163, 188);
    justify-content: center;
    text-align: center;
}

.intro .project_button a button{
    justify-content: center;
    margin-top: 50px;
    background-color: rgb(174, 154, 195);
    color: rgb(42, 40, 44);
    border-radius: 5px;
    font-size: 20px;
    padding: 8px;
}

.intro .experience_button a button{
    margin-top: 50px;
    background-color: rgb(174, 154, 195);
    color: rgb(42, 40, 44);
    border-radius: 5px;
    font-size: 20px;
    padding: 8px; 
}

.experience_img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    
}

.projects_table{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    color: rgb(199, 186, 213);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif sans-serif;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  table, th, td {
    border: 1px solid rgb(199, 186, 213);
    border-collapse: collapse;
    padding: 10px;
  }

.project_title h1{
    margin-top: 20px;
    color: rgb(199, 186, 213);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif sans-serif;
    text-align: center;
}